*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-accordion{
    width: 80%;
}
.btn-accordion{
    color: #fff;
    background-color: #595959;
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    border-radius: 10px;
}
.btn-accordion:hover{
    background-color: #000;
}

.panel {
    padding: 15px;
    background-color: #f9f9f9;
    display: none;
    border: 1px solid #ddd;
    border-radius: 10px;
}


.panel.activo{
    display: block;
}