*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container__datepicker{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 60px;

}
.datepicker{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.datepicker-img{
    width: 50px;
    height: 50px;
    margin: 5px 0;
}
.datepicker input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    color: #000b;
}
.calendar-header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #76daed;
    margin-top: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.month-year{
    margin-top: 10px;
    color: #fffd;
}
.button{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fffa;
    font-size:25px;
}
.button:hover{
    opacity: 0.5;
}
.calendar-body{
    background-color: #fffa;
    color: #000b;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.day-names th {
    color: #000b;
    text-align: center;
    font-weight: bold;
}
td {
    width: 14.28%; /* 100% divided by 7 days */
    text-align: center;
    height: 25px;
    line-height: 32px;
    cursor: pointer;
}

td:hover {
    background-color: #e9ecef; 
    border-radius: 50%; 
}